.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 1180px;
}

HTML,BODY {
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

H1 {
	font-size: 28px;
}

H2 {
	font-size: 22px;
}

H3 {
	font-size: 16px;
}

H4 {
	font-size: 14px;
}

H5 {
	font-size: 12px;
}

H6 {
	font-size: 11px;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #d9edf7;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	height: 120px;
}

#header H1 {
	font-size: 22px;
	margin-top: 80px;
	text-align: center;
	color: #1A4085;
	width: 439px;
	padding-left: 100px;
	padding-right: 100px;
	float: left;
}

#main {
	overflow: hidden;
}

#left {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	min-height: 300px;
}

#content {
	
}

#personal {
	float: right;
	margin-right: 10px;
}

#messaging {
	clear: right;
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	width: 250px;
	text-align: left;
}

#breadcrumb {
	height: 30px;
	padding-left: 10px;
}

#push,#footer {
	height: 29px;
	font-weight: bold;
}

#footer {
	text-align: center;
	border-top: 1px solid #ddd;
}

#footer DIV {
	font-size: 10px;
}

.navbar UL LI {
	position: relative;
}

/*------------------ TABLES --------------------------*/
.table TH {
	text-align: center;
	background-color: #eee;
}

.table .category {
	font-weight: bold;
	background-color: #eff;
}

.table .subcategory {
	font-weight: bold;
	background-color: #f0f3f8;
	padding-left: 30px;
}

.table .subcategory2 {
	padding-left: 60px;
}

th.disabled,th.disabled:hover,td.disabled,td.disabled:hover {
	background-color: #cccccc !important;
}

/*------------------ FORMS --------------------------*/
.form-horizontal .control-group {
	margin-bottom: 5px;
}

.datepicker {
	padding: 0;
}

/* ------ ACTION CONTROLS ----------- */
.action-buttons .buttons {
	text-align: right;
}

.action-buttons .buttons .btn {
	margin-left: 5px;
}

.msl-vertical-actions .btn {
	margin-top: 2px;
	margin-bottom: 2px;
}

/* ----------------- MODAL DIALOGS -------------------------*/
.modal {
	width: 800px;
	margin-left: -400px;
}

.modal-body {
	max-height: 650px;
	overflow: hidden;
}

.modal form {
	margin-bottom: 0px !important;
}

.modal .horizontal-controls .control-label {
	width: 120px;
	float: left;
	text-align: right;
}

.modal .horizontal-controls .controls,.modal .horizontal-controls .controls-text
	{
	margin-left: 130px;
}

.controls-text {
	margin-top: 5px;
}

.modal-body .controls INPUT,.modal-body .controls SELECT,.modal-body .controls .input-append,.modal-body .controls .input-prepend
	{
	margin-bottom: 0px;
}

/*--------- CUSTOM COMPONENTS --------- */

/*-------------CUSTOM COLLAPSABLE SECTION ----- */
fieldset,fieldset.collapsible {
	border-top: 1px solid #D5D8D8;
	margin-bottom: 10px;
}

fieldset>legend,fieldset.collapsible>legend {
	font-size: 14px;
	font-weight: bold;
	margin-left: 60px;
	margin-bottom: 0px;
	border-bottom: none;
	padding: 0 10px;
	width: auto;
}

fieldset.collapsible>legend {
	cursor: pointer
}

fieldset.collapsible>div {
	display: none;
}

/* ---------- MUSALA FILTERS --------*/
.msl-filters .btn-group,.msl-filters .control-group {
	margin-bottom: 5px;
}

.msl-filters label {
	float: left;
	padding-top: 7px;
	margin-right: 5px;
	width: 80px;
}

.msl-filters .select2-container,.msl-filters .input-append,.msl-filters .input-prepend
	{
	margin-bottom: 0px;
}

.span3.msl-filters input {
	width: 165px;
}

.span3.msl-filters .select2-container {
	width: 180px;
}

.span3.msl-filters .datepicker input {
	width: 80px;
}

.span6.msl-filters input,.span6.msl-filters .select2-container {
	width: 465px;
}

.msl-filters SELECT,.msl-filters INPUT {
	margin-bottom: 0;
}

.msl-filters .checkbox {
	width: auto;
}

/*------------- MUSALA COMMENTS ----- */
.comment {
	margin-bottom: 10px;
	margin-left: 30px;
}

.comment .comment-info {
	margin-left: 10px;
	color: #666 !important;
	font-style: italic;
}

/* ---------- MUSALA BLOCKS --------*/
.msl-block-container {
	overflow: hidden;
}

.msl-block {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px border-radius:    4px;
	background-color: #f7f7f9;
	padding: 10px;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.msl-block .title {
	border-bottom: 1px solid #3a87ad;
	color: #3a87ad;
	font-weight: bold;
	font-size: 14px;
}

.msl-block .details {
	text-align: center;
	margin: 10px;
}

.msl-block-warning {
	background-color: #fcf8e3;
}

.msl-block-info {
	background-color: #d9edf7;
}

.msl-block-success {
	background-color: #51a351;
}

/* ---------- MUSALA NOTIFICATION ICONS --------*/
.msl-background-error {
	background-color: #f27b7b;
}

.msl-background-warning {
	background-color: #f89406;
}

.msl-background-info {
	background-color: #7bd3f3;
}

.msl-background-success {
	background-color: #468847;
}

/* --------------- FORM SECTIONS ---------------*/
.section {
	/*	overflow:hidden; */
	background-color: #e8ecf5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}

.section .section-title {
	border-bottom: 1px solid #e0e1e3;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6d7174;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

.no-border {
	border: 0px !important;
}

.section .section-title a {
	color: #6d7174;
	font-size: 14px;
}

.section .section-title .section-action {
	float: right;
	margin-left: 10px;
}

.section .subsection {
	padding-top: 10px;
}

.section .subsection-colored {
	background-color: #f0f3f8;
}

.section .control-group,.section .table {
	padding-left: 10px;
	padding-right: 30px;
}

.section .control-group .controls INPUT,.section .control-group .controls SELECT,.section .control-group .controls TEXTAREA
	{
	width: 100%;
}

.control-group .controls TEXTAREA {
	height: 45px;
}

.control-group .controls TEXTAREA.textarea-large {
	height: 90px;
}

.control-group .controls TEXTAREA.textarea-xlarge {
	height: 180px;
}

.lp-identifier {
	clear: both;
	overflow: hidden;
}

.lp-identifier .input-append,.lp-identifier SELECT {
	float: left;
	margin-right: 10px;
}

.section .table {
	
}

.section .table TH {
	background-color: #f0f3f8;
	text-align: left;
}

.section .table TD {
	background-color: #ffffff;
}

.section .table .table-actions {
	width: 1%;
}

/* --------------- OVERRIDEN BOOTSTRAP ---------------*/
.dropdown-menu>li>a {
	font-size: 12px;
	line-height: 16px;
}

.ts-radio,.ts-checkbox {
	min-height: 20px;
	padding-left: 5px;
	padding-right: 20px;
}

.ts-radio.inline,.ts-checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.popover {
	max-width: 500px;
}

.select2-container {
	margin-bottom: 10px;
}
